body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
  color: #f1f1f1;
}


#kesoLogo{
    margin: 0;
    display:flex;
    max-width: 30%;
}

#adornoFooter {
    margin: auto;
    display: flex;
    width: 95%;
    
}

.social-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.social-icon:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

a, p{
    font-family: 'Outfit', sans-serif;
}

.site-footer {
  background-color: #F077A3;
  color: #f1f1f1;
  padding: 40px 20px 20px;
  width: 100%;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-col h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #f1f1f1;
  font-family: 'Outfit', sans-serif;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li a {
  color: #ffffff;
  text-decoration: none;
}

.footer-col ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #f1f1f1;
  font-size: 14px;
  color: #ffffff;
}

/* Adaptación para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
}
